@page "/"
@inject MainService mainService;

<div class="headerBackground animate fadeIn"></div>
<div class="content center animate flyFadeIn">
    <div class="centerContainer">
        <div class="mainHeader" style="margin-top: 148px;">
            <TitleText icon="icon/toolboxIcon.svg" text="Matt's Toolbox" />
            <Clock AlignRight=true/>
        </div>
        <div style="display: flex; flex-direction:column; margin-top: 16px;">
            <AppButton href="ULIMerge"
                       color="#0075FF"
                       icon="icon/mergeIcon.svg"
                       name="ULI Merger" />
            <AppButton href="Rossum"
                       color="#000574"
                       icon="icon/rossumIcon.svg"
                       name="Rossum Extractor" />
            <AppButton href="Soa"
                       color="#00745d"
                       icon="icon/soaIcon.svg"
                       name="SOA Combiner" />
        </div>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        mainService.CheckVersion();
    }
}