@page "/ULIMerge"


<div class="content center animate appearFadeInUp">
    <div class="mainHeader" style="margin-top: 32px;">
        <TitleText icon="icon/mergeIcon.svg" text="ULI Merger"/>
        <div class="flexHorizontal" style="gap: 8px">
            <p style="margin-right: 8px">Select Invoice and Tax.</p>
            <button>Select</button>
            <button>Merge</button>
        </div>
    </div>
</div>


@code {

}
