@inject MainService mainLayoutService
@using System.Diagnostics;

@if (IsVisible)
{
    <div class="dialogOverlay @overlayAnim">
        <div class="dialogContentWrapper @anim">
            <div class="dialogContainer">
                <div class="dialogTitle">@title</div>
                <div class="dialogContent">
                    @((MarkupString)text)
                </div>
                <div class="dialogBottom">
                    <button @onclick="mainLayoutService.DestroyDialog">OK</button>
                </div>
            </div>
        </div>
    </div>
}


@code {

    protected string title { get; set; }
    protected string text { get; set; }
    protected bool IsVisible { get; set; }
    protected string overlayAnim { get; set; }
    protected string anim { get; set; }

    protected override void OnInitialized()
    {
        mainLayoutService.OpenDialog += Open;
        mainLayoutService.CloseDialog += Close;
    }


    private void ChangeAnim(string anim, string anim2)
    {
        this.overlayAnim = anim2;
        this.anim = anim;
        StateHasChanged();
    }

    private void Open()
    {
        IsVisible = true;
        title = mainLayoutService.DialogList.First().title;
        text = mainLayoutService.DialogList.First().text;

        ChangeAnim("animate flyFadeIn", "animate fadeIn");
    }

    private async void Close()
    {
        //Open another dialog left
        if (mainLayoutService.DialogList.Count > 0)
        {
            ChangeAnim("","");
            await Task.Delay(10);
            Open();
        }
        else
        {
            ChangeAnim("animate flyFadeOut","animate fadeOut");
            await Task.Delay(250);
            IsVisible = false;
            StateHasChanged();
        }
    }

}