@inject MainService mainLayoutService

<div class="loadingOverlay @overlayAnim">
    <div class="loadingContentWrapper @anim">
        <div class="loadingContent">
            <Spinner></Spinner>
            <p>@((MarkupString)text)</p>
        </div>
    </div>
</div>

@code {

    protected string overlayAnim { get; set; }
    protected string anim { get; set; }
    protected string text { get; set; }
    protected override void OnInitialized()
    {
        mainLayoutService.OnShowLoading += Show;
        mainLayoutService.OnHideLoading += Hide;
    }

    private void ChangeAnim(string anim, string anim2)
    {
        this.overlayAnim = anim2;
        this.anim = anim;
        StateHasChanged();
    }

    public void Show()
    {
        text = mainLayoutService.LoadingText;

        ChangeAnim("animate flyFadeIn", "animate fadeIn show");
    }

    public void Hide()
    {
        ChangeAnim("animate flyFadeOut", "animate fadeOut");

        StateHasChanged();

    }

}