@inject MainLayoutService mainLayoutService

<div class="loadingOverlay @anim">
    <div class="loadingContent">
        <Spinner></Spinner>
        <p>@text</p>
    </div>
</div>

@code {

    protected string anim { get; set; }
    protected string text { get; set; }
    protected override void OnInitialized()
    {
        mainLayoutService.OnShowLoading += Show;
        mainLayoutService.OnHideLoading += Hide;
    }

    private void ChangeAnim(string anim)
    {
        this.anim = anim;
        StateHasChanged();
    }

    public void Show()
    {
        text = mainLayoutService.LoadingText;

        ChangeAnim("animate flyFadeIn show");
    }

    public void Hide()
    {
        ChangeAnim("animate flyFadeOut");

        StateHasChanged();

    }

}