<nav>
    <div class="nav-list">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="icon/homeIcon.svg" draggable="false" />
            </NavLink>
            <NavLink class="nav-link" href="ULIMerge">
                <img src="icon/mergeIcon.svg" draggable="false" />
            </NavLink>
        <NavLink class="nav-link" href="Rossum">
                <img src="icon/rossumIcon.svg" draggable="false" />
            </NavLink>
    </div>
</nav>

@code {

}
