.title {
    display: inline-flex;
    align-items: flex-end;
    gap: 8px;

    user-select: none;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 0;
}

.title img {
    width: 32px;
    height: auto;
}